extends layout

block content

  .container
    - var properties = ['unit number', 'rent', 'total rooms', 'tenants', 'image']
    .row
      .col-xs-12
        h1= title
    .row
      .col-xs-12
        table.table.table-hover.table-striped
          thead
            tr
              each prop in properties
                th= prop.toUpperCase()
          tbody#aptList
            each apartment in arr
              tr(data.id= apartment._id)
                td= apartment.name
                td= apartment.rent
                td= apartment.totalRooms
                td= apartment.tenants
                td= apartment.imageUrl
                td.edit.text-center
                  i.fa.fa-pencil-square-o.fa-lg
                td.delete.text-center
                  i.fa.fa-trash-o.fa-lg

block scripts  
  script(src='/js/apartments.js')